body {
    font-family: Calibri;
    padding: 0;
    margin: 0;
}

#container {
    width: 660px;
}

.login {
    background: url("../images/screen.png") no-repeat left center, -moz-linear-gradient(top, rgba(59, 59, 59, 0.6) 0%, rgba(59, 59, 59, 0.6) 1%, rgba(42, 42, 42, 1) 95%, rgba(59, 59, 59, 0.9) 100%);
    /* FF3.6+ */
    background: url("../images/screen.png") no-repeat left center, -webkit-linear-gradient(top, rgba(59, 59, 59, 0.6) 0%, rgba(59, 59, 59, 0.6) 1%, rgba(42, 42, 42, 1) 95%, rgba(59, 59, 59, 0.9) 100%);
    /* Chrome10+,Safari5.1+ */
    background: url("../images/screen.png") no-repeat left center, -o-linear-gradient(top, rgba(59, 59, 59, 0.6) 0%, rgba(59, 59, 59, 0.6) 1%, rgba(42, 42, 42, 1) 95%, rgba(59, 59, 59, 0.9) 100%);
    /* Opera 11.10+ */
    background: url("../images/screen.png") no-repeat left center, -ms-linear-gradient(top, rgba(59, 59, 59, 0.6) 0%, rgba(59, 59, 59, 0.6) 1%, rgba(42, 42, 42, 1) 95%, rgba(59, 59, 59, 0.9) 100%);
    /* IE10+ */
    padding: 20px 10px;
}

.text {
    background-color: #3b3b3b;
    padding: 10px;
}

form {
    height: 20px;
}

p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #a8a8a8;
}

p.bigWhite {
    font-size: 22px;
    color: white;
    font-weight: bold;
    padding-left: 65px;
    float: left;
}

input[type="text"] {
    margin-left: 20px;
    padding-left: 10px;
    width: 140px;
    vertical-align: top;
}

input[type="submit"] {
    background-image: url("../images/go button.png");
    background-position: -5px -12px;
    background-size: 66px 52px;
    width: 56px;
    height: 28px;
    padding: 0;
    margin: 0;
    position: relative;
    left: 10px;
    top: -3px;
    border-radius: 12px;
    border: none;
}

::-webkit-input-placeholder {
    color: #000;
}


/* firefox 19+ */

::-moz-placeholder {
    color: #000;
}


/* ie */

:-ms-input-placeholder {
    color: #000;
}

input:-moz-placeholder {
    color: #000;
}

input[type="image"] {
    margin-left: 10px;
    margin-top: -15px;
}

h1 {
    color: #f2d016;
    font-size: 30px;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}