table, tr, td {
    border: 1px inset;
}

#a {
    padding: 2px 10px 2px 10px;
}

#b {
    padding-left: 15px;
}

#d, #e, #f, #h, #i, #k, #l, #m, #o {
    text-align: center;
}

#g, #n {
    text-align: right;
}

#c {
    text-align: left;
}

#j {
    padding-top: 25px;    
    text-align: right; 
    /*text-align: end;*/
    /*The same as right if direction is left-to-right and left if direction is right-to-left.*/
}
