html, body {    
    font-family: Helvetica, Arial, ' DejaVu Sans', 'Liberation Sans', Freesans, sans-serif; /* in condition */    
    font-size: 16px; /* in condition */
}

#wrapper {
    width: 960px; /* in condition => Resolution-width: 960px*/
}

.menu {          /* for the ul, because it's class */
    padding: 0;
    margin: 0;
    list-style-type: none; /* removing bullets */
}

.menu li {
    padding: 0;
    margin: 0;
    float: left; /* to order li element one next to another => float to the left */
    height: 180px; /* measuring 220px, but because of borders => 180px; 
                      other option is to change box-sizing */
    width: 180px;  /* measuring 220px, but because of borders => 180px; */
    border: 20px solid #808080; /* li elements have border => the border affect height and width */
    margin-right: 5px;
    text-align: center; 
    /*background на li ел. се мени => gradient css generator => CollorZilla 
    TODO */
}

.menu li h3 {
    padding: 0;
    margin: 0;
    margin-top: 6px;
    margin-bottom: 5px;
    color: #FFFFFF;
}

.image-container img {   /* for the images */
    width: 120px;
    height: 100px;
    border-radius: 20px; /* curve */
}

.subtitle {
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.click-here {
    padding: 0;
    margin: 0;
    margin-top: 0; /* this line can be removed */    
    display: none; /* for hiding click for more */
    color: #FFFFFF;
    text-transform: uppercase;
}

/* hover => when the li selector is hover */
.menu li:hover {
    border-color: #454545; /* color change */
    background: #808080; /* by hover li => backgroung change */
}

.menu li:hover h3 {
    text-decoration: underline; 
}

/* the image (which is in li element, which is hover) gets bigger, the sizes change */
.menu li:hover img {
    height: 110px;
    width: 140px;
}

/* to hide one element and show another */

.menu li:hover .click-here {
    display: block; /* the click-here element, which is in menu hovered li => must be displayed */
}

.menu li:hover .subtitle {
    display: none; /* hide it */
}
