html, body {    
    font-family: Helvetica, Arial, ' DejaVu Sans', 'Liberation Sans', Freesans, sans-serif; /* in condition */    
    font-size: 16px; /* in condition */
}

#wrapper {
    width: 960px; /* in condition => Resolution-width: 960px*/
}

.menu {          /* for the ul, because it's class */
    padding: 0;
    margin: 0;
    list-style-type: none; /* removing bullets */
}

.menu li {
    padding: 0; 
    margin: 0;
    float: left; /* to order li element one next to another => float to the left */
    height: 180px; /* measuring 220px, but because of borders => 180px; 
                      other option is to change box-sizing */
    width: 180px;  /* measuring 220px, but because of borders => 180px; */
    border: 20px solid #808080; /* li elements have border => the border affect height and width */
    margin-right: 5px; 
    text-align: center; 
    /* the background of the li element is gradient => gradient css generator => CollorZilla 
       we want to be: Orientation: vertical, the color starts from 727272 to FFFFFF */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#727272+1,ffffff+100 */
    background: #727272; /* Old browsers */
    background: -moz-linear-gradient(top,  #727272 1%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #727272 1%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #727272 1%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#727272', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */    
}

.menu li h3 {
    padding: 0;
    margin: 0;
    margin-top: 9px; /* from letter l in Downloads till the border */
    margin-bottom: 10px; /* from letter l in Downloads till the image */
    color: #FFFFFF;
}

.image-container img {   /* for the images */
    width: 120px;
    height: 100px;
    border-radius: 20px; /* curve */
}

/* .subtitle and .click-here are paragraphs too => must reset their margin and padding*/
.subtitle {
    padding: 0;
    margin: 0;
    margin-top: 10px; /* measuring 17px */
}

.click-here {
    padding: 0;
    margin: 0;
    margin-top: 0px; /* this line can be removed */    
    display: none; /* for hiding click for more */
    color: #FFFFFF;
    text-transform: uppercase;
}

/* hover => when the li selector is hover */
.menu li:hover {
    border-color: #454545; /* color change */
    background: #808080; /* by hover li => backgroung change */
}

.menu li:hover h3 {
    text-decoration: underline; 
}

/* the image (which is in li element, which is hover) gets bigger, the sizes change */
.menu li:hover img {
    height: 110px;
    width: 140px;
}

/* to hide one element and show another */

.menu li:hover .click-here {
    display: block; /* the click-here element, which is in menu hovered li => must be displayed */
}

.menu li:hover .subtitle {
    display: none; /* hide it */
}
