html, body {
	font-family: Arial, Helvetica, sans-serif; /* given  in the template */
	font-size: 14px; /* in condition: default font-size: 14px */
}

#wrapper {
	width: 960px; /* given  in the template */
	margin: 0 auto; /* given  in the template */
}

.clear {
	clear: both; /* given  in the template */
}

header {
	height: 97px; /* measured in paint.net */
	background-image: url('images/header-bg.png'); /* the background is in folder images */
	border-bottom: #39C518 5px solid; /* width of the green line = 5px; pick the color */
}

/* the next step is to order the elements in the header => 
   we have <div id="title">, which must be to the left, and <nav id="nav">, which must be to the right
   style those elements with float: left and float: right*/
#title {
	float: left; /* goes to the left */
	margin-left: 20px; /* from the beginning of the header to the beginning of the letters 
	                      measuring distance 22px */
}

/* clear/reset the padding and margin of the elements, with which we work, 
   to be sure, that we won't have any problems with their positioning 
   and we can set them from the null */
#title h1 {
	margin: 0; /* resetting */
	padding: 0; /* resetting */
	color: #EEFFEE; /* pick the color in paint.net by selecting wide letter in the middle part */
	font-size: 34px; /* in condition: font-size of the title: 34px */
	margin-top: 20px; /* measuring from the tallest letter => 27px => 
	                     in condition: All other pixel sizes will be divisible by 5 or exactly 8px */
}

#title h2 {
	margin: 0; /* resetting */
	padding: 0;	/* resetting */
	color: #C0C0C0;
	font-size: 14px; /* in condition: default font-size: 14px */
	margin-top: 5px; /* between h1 and h2 => 5px (from the lowest letter in h1 to the tallest in h2))*/
	font-weight: normal;
	/*не бива да е болднат*/
}

#nav {
	float: right; /* goes to the right */
	/*display: inline-block;	/* правим го блоков ел-т ??? */
}

/* Home и About me are displayed like list items */

#nav ul {			
	margin: 0; /* resetting */
	padding: 0; /* resetting */
	list-style-type: none; /* google: css remove bullet */
	margin-right: 28px; /* measuring the distance from the end of About me till the end 28px */
}
 
#nav ul li {     /* every list item */
	float: left; /* to be on the left one next to another */
	margin: 0; /* resetting */
	padding: 0; /* resetting */
	font-size: 18px; /* in condition: font-size of the menu items: 18px */
	margin-left: 22px; /* measuring the distance between Home and About me => 20px */
	margin-top: 45px; /* the distance between the highest letter to up => 48px */
	color: #CC6600; /* picked from the letter H, because is wide */
	font-weight: bold; 
}

#content {
	float: left;
	width: 760px;
	/*960px - 200px или го замерваме*/
	/*трябва да замерим цвета на текста, защото не е черен; 
    хубаво е да се взима от хоризонтална линия, където няма околни пиксели, к. да размиват*/
	color: #555555;
}

#content h1 {
	color: #59770E;
	/*замерваме цвета на h1*/
	/*замерваме разстоянието от края на буква k в Good luck! до зелената линия 26px
      замерваме същото разстояние в нашата страница след Print Screen 27px ; Ники:22px */
	margin-top: 22px;
	/*Ники: 24px*/
	font-size: 30px;
	/*по условие: font-size of the content title: 30px*/
}

#aside {
	width: 200px;
	/*замерваме широчината му (д-ната) 200px*/
	float: right;
	/*padding, защото ел-тът "Search" си няма id или div и не можем да го хванем, 
	за да го отместим с margin */
	padding-top: 20px;
	/*измерваме разстоянието от края на буквите до зелената линия 23px => 20px */
	text-transform: uppercase;
	/*google: uppercase css*/
	color: #59770E;
	font-weight: bold;
	/*болднат е*/
}

/*<hr /> няма да го пипаме*/

#aside input {
	/*селектираме input ел-та*/
	width: 155px;
	/*измерваме ширината на input ел-та => кутийката под SEARCH и линията*/
}

/*налагаме с Pixel Perfect => забелязваме, че има размествания в SEARCH => 
  можем да го вдигнем нагоре => aside смяняме px в padding-top
  h1 ел-тът малко се разминава и няма да е 20, а 18px */