body form tr td .requiredField {
    font-weight: bold;
}

.submitButton {
    background: url("../images/SubmitImage.png") no-repeat;
    background-size: 100% 100%;
    border: none;
    width: 100px;
    height: 50px;
}
