*{
    color: skyblue;
    text-align: center;
}

body form table thead input {
    text-align: right;
    -webkit-text-fill-color: skyblue;    
}

body form table {
    border: 1px solid skyblue;
    background-color: skyblue;
}

body form table td {
    border: 1px solid skyblue;
    background-color: aliceblue;
}

body form table button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: aliceblue;
}