body {
    margin: 0;
    padding: 0;
    background-color: #A9A9A9;
    text-align: center;
}

h1{
    color: #FAFAD2;
    font-size: 26px;
    text-align: left;
}

#main{
    font-size: 36px;
    text-align: center;
}

nav > ul > li > a, nav > ul > li {
    padding: 1px;
    margin: 4px;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

a {
    color: #FFFFFF;
}

.current {
    background-color: #D3D3D3;
}

nav > ul > li:last-child {
    text-decoration: underline;
}

article > footer {
    font-size: 12px;
}

p {
    text-align: justify;
}